/* Begin aangeleverde code, laten staan, niet veranderen */
html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

img{
    width: 200px;
}
/* Einde aangeleverde code, laten staan, niet veranderen */
/* Vul hieronder je eigen code */

/* 1 */
header, main, footer{
    width: 100%;
}

/* 2 */
header, footer{
    height: 20%;
    background-color: aqua;
}

/* 3, 4 */
main{
    height: 80%;
    background-color: blueviolet;
}

/* 5 */
header img{
    margin: 20px;
}

/* 6 */
main img{
    width: 400px;
}

/* 7 */
footer img{
    border: 1px solid black;
}

/* 8 */
header nav, header nav ul{
    display: flex;
}

/* 9 */
header a{
    padding: 20px;
}

/* 10 */
nav a{
    text-decoration: none;
}

/* 11 */
header ul, footer ul{
    list-style-type: none;
}

/* 12 */
div > h1 {
    color: darkgreen;
}

/* 13 */
ul > li{
    border: 1px dashed black;
}

/* 14 */
h3 + p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* 15 */
img ~ ul{
    color: bisque;
    list-style-type: circle;
}